@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    flex-direction: column;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header::before {
    content: '';
    position: absolute;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .2);
    backdrop-filter: blur(3px);
}

.header::after {
    content: '';
    position: absolute;
    top : 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .2), transparent);
    transition: 1s;
}

.header:hover::after {
    left: 100%
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: none;
}

.logo{
    z-index: 1;
}

.desktop-logo{
    display: inline-block;
}

.mobile-logo {
    display: none;
    width: 110px;
    height: auto;
    margin-top: 5px;
}

.navbar {
    display: flex;
    align-items: center;
    position: relative;
}

.navbar a {
    position: relative;
    font-size: 1.15rem;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #f0a900;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

#check {
    display: none;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #ffffff;
    cursor: pointer;
    display: none;
}

.searchbar {
    margin-left: 40px;
    height: 30px;
    display: flex;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #f0a900;
    border-radius: 30px;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.searchbar:hover input {
    width: 400px;
}

.searchbar input {
    width: 0;
    max-width: 100px;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
    color: #ffffff;
}

.searchbar input::placeholder {
    color: #fbfff8;
}

.searchbar a .fas {
    color: #f0a900;
    font-size: 18px;
}

.searchbar.open input {
    width: 400px;
}

.searchbar.open {
    background-color: #3c368a;
}

.menu {
    position: fixed;
    width: 300px;
    height: 100px;
    right: 10px;
    bottom: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 0 10px 10px 0;
}

.menu .toggle {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0a900;
    height: 50px;
    width: 50px;
    transition: 1s;
    font-size: 1.2em;
    color: #000;
    z-index: 10;
    border-radius: 50%;
    cursor: pointer;
}

.menu li {
    position: absolute;
    left: 131px;
    transform-origin: 140px;
    transform: rotate(0deg) translateX(125px);
    list-style-type: none;
    transition: .9s;
}

.menu.active .toggle {
    transform: rotate(350deg);
}

.menu.active li {
    transform: rotate(calc(360deg / 16 * var(--i))) translateX(15px);

}

.menu.active li a {
    transform: rotate(calc(360deg / -16 * var(--i))) translateX(0px);

}

.menu li a {
    text-decoration: none;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0a900;
    border-radius: 50%;
    font-size: 1.2em;
    color: #000;
}

.tooltipText {
    position: absolute;
    background-color: #f0a900;
    color: black;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.tooltipText::before {
    content: "";
    position: absolute;
}

.menu.active .tooltip:hover .tooltipText {
    right: 110%;
    visibility: visible;
    opacity: 1;
}

.maDiv {
    width: 100%;
    height: 87vh;
    background-color: magenta;
    text-align: center;
    margin-top: 100vh;
}

#footer {
    width: 100%;
    height: auto;
    display: flex;
    text-align: justify;
    align-items: flex-start;
}

#contact {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 2%;
}

#contact img {
    width: 110px;
    height: auto;
    margin-top: 10%;
    margin-right: 30px;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

#contact a {
    color: black;
}

@media (max-width: 990px){
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 760px) {
    .header {
        padding: 0;
    }

    .desktop-logo {
        display: none;
    }

    .mobile-logo {
        display: inline-flex;
        padding: 10%;
    }

    .icons {
        display: inline-flex;
        position: relative;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        display: inline-flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, .2);
        backdrop-filter: blur(3px);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: auto;
    }

    .navbar a {
        font-size: 1.1rem;
        margin: 1rem 0;
        text-align: center;
        transform: translateY(-25px);
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s * var(--i));
    }

    .searchbar {
        display: inline-flex;
        margin: 1rem 0 15px -5px;
    }

    .searchbar input {
        max-width: 150px;
    }
}


